* {
    padding: 0;
    margin: 0;
    list-style-type: no;
    overflow: hidden;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: #999da5;
    border: inherit;
    border-color: inherit;

}

body {
    font-family: sans-serif;
    font-size: small;
    background-color: rgb(242, 242, 250);
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 95%;
    position: static;

}

.navbar {
    height: 85px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    justify-content: flex-end;
    padding-top: 5px;
}

.navlinks {
    width: 350px;
    display: inline-flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-right: 5px;
    word-spacing: 7px;

}

.links {
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    text-justify: auto;
    justify-content: flex-end;
    height: 80px;
    width: 280px;
    padding-right: 5px;
    padding-top: 1px;

}

#glinks {
    font-size: 100%;
    width: 95px;
    height: 45px;
    padding-top: 15px;
    justify-content: center;
    word-spacing: 7px;
    display: inline-flex;

}

#pngs {
    width: 135px;
    height: 45px;
    padding-left: 10px;
    display: flex;

}


.goApp {
    padding-top: 8px;
    padding-right: 8px;
}

.goAcc {
    padding-top: 8px;
    padding-top: 8px;
}

a:link {
    color: rgb(88, 87, 87);
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: grey;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(35, 35, 35);
    background-color: transparent;
    transition: 0.5s;
}

.maillink {
    display: inline-flex;

}

.maillink:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

.image {
    display: inline-flex;
}

.image:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;

}

#icon {
    display: block;
    justify-content: center;
    padding: 5px 10px;


}

#icon:hover {
    text-decoration: none;
    background-color: rgb(205, 203, 212);
    border: none;
    border-radius: 50%;
}

#icon2 {
    display: inline-block;
    justify-content: center;
    padding: 5px 10px;

}

#icon2:hover {
    text-decoration: none;
    background-color: rgb(205, 203, 212);
    border: none;
    border-radius: 50%;
}


li {
    display: inline;
    justify-content: space-around;

}

.content {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
    margin-top: 35px;
    width: 100%;

}


.googlelogo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: 30%;

}


#urlbox {
    display: inline-flex;
    padding-left: 5px;
    box-shadow: #999da5;
    height: 100%;

}

.logo {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 150px;
    width: 100%;
    justify-content: center;
    justify-self: center;
    align-content: flex-end;
    background-color: rgb(242, 242, 250);
    margin-top: 5px;

}

#google {
    overflow: hidden;
    text-wrap: nowrap;
    justify-content: center;
    width: 280px;
    align-self: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(242, 242, 250);

}


.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 20%;
    padding-top: 35px;
    padding-bottom: 30px;
    box-sizing: border-box;
    text-decoration: none;
    background-color: rgb(242, 242, 250);

}

.magnify {
    overflow: hidden;
    text-overflow: ellipsis;
}


#input {
    font-size: 17px;
    font-family: inherit;
    background-color: white;
    margin-top: 180px;
    height: 42px;
    width: 610px;
    border: none;
    border-radius: 25px;
    display: inline-block;
    box-shadow: 15px 15px 15px 1px rgb(205, 205, 205);
    background-blend-mode: multiply;
    z-index: 500;
    background-color: #d3e3fd;
    font-optical-sizing: 2px;
    font-variant-ligatures: common-ligatures;

}

#lens {
    position: absolute;
    top: 172px;
    left: 20px;
}

.righticons {
    position: absolute;
    width: 65px;
    display: flex;
    top: 175px;
    left: 525px;
    height: 48px;
    text-decoration: none;
    word-spacing: 5px;
    align-items: flex-start;

}

.audioicon {
    padding-left: 0px;
    font-size: 25px;
    height: 60%;
    align-content: flex-start;
}

.fa-microphone  {
    font-size: 20px;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(180deg,rgb(56, 104, 236) 60%,hsl(39, 100%, 50%) 29.9%,hsl(0, 80%, 43%)10%, rgb(125, 165, 125) 0.025%);
}

.cam {
    padding-left: 20px;
    height: 60%;
    font-size: 25px;
    align-content: flex-start;

}

.fa-camera {
    font-size: 18px;
    color: transparent;
    background-clip: text; 
    background-image: linear-gradient(180deg,hsl(240, 100%, 50%), hsl(39, 100%, 50%),hsl(0, 76%, 45%),hsl(120, 74%, 37%));

}


.btn2 {
    top: 180px;
    left: 45px;
    background-color: white;
    margin-top: 160px;
    height: 45px;
    width: 610px;
    border: hidden;
    border-radius: 25px;
    box-shadow: 5px 25px 1px -1px rgb(205, 205, 205);
    z-index: 500;

}

.searchbox {
    position: absolute;
    display: flex;
    top: 162px;
    left: 45px;
    text-decoration: none;
    padding-left: 0px;
    text-overflow: none;
    background-color: inherit;
    z-index: 500;

}

#search-adds {
    position: fixed;
    font-size: 16px;
    display: inline-flex;
    line-height: 48px;
    height: 42px;
    width: 480px;
    padding-top: 0px;
    text-align: left;
    background: transparent;
    border-style: none;

}

#search-adds:focus {
    border-style: none;
    cursor: auto;
    border: 1px solid inherit;
    font-family: inherit;
    z-index: -1;

}


input {
    text-indent: 15px;
    font-optical-sizing: 2px;
    font-variant-ligatures: common-ligatures;
    display: inline-block;
    text-align: start;
    padding-left: 5px;


}


#placeholder {
    position: relative;
    text-decoration: none;

}


.grid-container {
    display: grid;
    margin-bottom: 10px;
    top: -20px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 120px 120px;
    width: 500px;
    height: 320px;
    justify-content: space-evenly;
    overflow: hidden;
    column-gap: 5px;
    row-gap: 5px;
    box-sizing: border-box;
    height: 50%;
    position: relative;
    margin: auto;

}

.item-1 {
    display: flex;
    width: 120px;
    border: hidden;
    border-radius: 5px;
    justify-content: space-around;
    padding-top: 5px;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;

}

.item-1:hover {
    background-color: #c7d3ee;

    #tripledot {
        visibility: visible;
        border-radius: 20px;

    }

    #tripledot:hover {
        visibility: visible;
        background-color: #a9aaab;
        border: 1px transparent inherit;
        transition: 0.3s ease;

    }

    .menu-icon {
        visibility: collapse;
        background-color: #a9aaab;
        height: 25%;
        width: 100%;
        display: flex;

    }

    .thewhapp,
    .thetube,
    .theinstagram,
    .thechrome,
    .theGMeet,
    .theshortcut {
        background-color: inherit;
    }

}

.menu-icon {
    visibility: collapse;
    display: flex;
    height: 25%;
    width: 100%;
    justify-content: flex-end;
    align-self: flex-end;

}

.thewhapp,
.thetube,
.theinstagram,
.thechrome,
.theGMeet {
    display: flex;
    position: absolute;
    height: 70%;
    width: 40%;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 6px;
    border: 1px solid inherit;
    border-radius: 50px;
    background-color: #d4d4d4e6;
}

.whatsapplogo,
.youtubelogo,
.instagramlogo,
.chromelogo,
.GMeetlogo {
    height: 60%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-self: center;
    font-weight: bold;
    position: relative;

}


.item-1 .shortcutlogo {
    display: flex;
    position: relative;
    padding-top: 20px;
    padding-left: 35px;
    width: 100%;
    height: 60%;
}

.theshortcut {
    height: 70%;
    width: 40%;
    position: absolute;
    justify-self: center;
    align-self: center;
    border: 1px solid inherit;
    border-radius: 50px;
    background-color: #c7c7fc;
    padding-top: 15px;
    padding-left: 15px;
}


.wh-name,
.tube-name,
.insta-name,
.chrome-name,
.meet-name,
.shortcutname {
    display: flex;
    height: 25%;
    width: 80%;
    /* justify-content: flex-end; */
    align-content: flex-end;
    font-family: system-ui, -apple-syst, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    font-weight: light;
    color: rgb(44, 44, 44);
    text-align: center;

}

.tube-name {
    padding-left: 35px;
}

.insta-name,
.wh-name {
    padding-left: 30px;
}


.chrome-name {
    padding-left: 35px;
}

.meet-name {
    padding-left: 45px;
}

.shortcutname {
    padding: 10px 0px 5px 20px;
    font-size: 90%;
}


.grid-container a p:visited {
    color: rgb(44, 44, 44);
}

.grid-container a p:active {
    color: rgba(44, 44, 44);
}

.grid-container p {
    color: rgba(44, 44, 44);
}



.footer {
    width: 90%;
    height: 8%;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: nowrap;
    text-decoration: none;
    position: absolute;
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0px;
    right: 30px;

}

#custom {
    text-decoration: none;
    border-radius: 18px;
    height: 32px;
    width: 170px;
    content: inherit;
    color: black;
    display: flex;
    padding-right: 5px;
    background: transparent;
    background-color: #d3e3fd;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.btn {
    border-radius: 18px;
    height: 32px;
    width: 170px;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.2);
}

.beneath {
    text-decoration: none;
    font-family: 'Lucida Sans';
    font-size: 110%;
    background: transparent;

}

.beneath:link {
    color: black;
}

#custom:hover {
    background-color: #bbcdec;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}


#pen {
    padding-right: 8px;
    padding-top: 0px;
}